{% extends 'student/studentbase.html' %}
{% load static %}

{% block content-body %}
<div style="margin-top: 100px;">
    <h1>About</h1>
    <p>Hung Khoa e-learning system aims to help students and teachers at managing, organising school workloads. </p>
    <p>For students, the site /student/courses are to view and manage courses in a semester. Student can find information about their registered course, class, materials, and lecturer information.</p>
    <p>Students can also register for a new course through /student/register.</p>
    <p>This website is for educational purpose only. Copywrong.</p>
</div>
{% endblock content-body %}