{% extends 'contentbase.html' %}
{% load static %}

{%block custom_css%}
<link rel="stylesheet" type="text/css" href="{% static 'student/styles.css' %}">
{%block student_css%} {%endblock student_css%}
{%endblock custom_css%}
{% block left-body %}
<div class="sidenav">
    <a href="{%url 'student:home'%}" style="margin-top: 50px;">Home</a>
    <a href="{%url 'student:courses'%}">Courses</a>
    <a href="{%url 'student:register'%}">Register</a>
    <a href="{%url 'student:about'%}">About</a>
</div>
{% endblock left-body %}
{% block content-body %}
&nbsp;
{% endblock content-body %}