{% extends 'base.html' %}
{% load static %}

{%block custom_css%} 

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

{%endblock custom_css%}

{% block body %}
        <div class="d-flex flex-column justify-content-center align-items-center" style="background-color: white" id='login-canvas'>
            <img src="{% static 'images/avatar.jpg'%}" alt="Avatar" class="avatar" style="width: 70px; height: 70px;">
            <div style="width: 30%; height: 50%; padding-top: 20px;">
                <form action="" method="POST" >
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <!-- <a type="button" class="btn btn-secondary" data-dismiss="modal" style="color: white">Cancel</a> -->
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
{% endblock body %}
