.box_content {
    color: black; 
    width:100%; 
    height: 100%; 
    position: relative;
    -o-animation: fadein 1.5s;
    animation: fadein 1.5s;
}

.fadeText {
    text-align: center;
    color: #FAFFFB;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}