.canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
.floating-button {
    border-radius: 5px;
    border: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
    height: 200px;
    padding: 5px;
    border-color: rgb(150, 148, 148);
    transition: transform .2s;
}
.floating-button:hover {
    opacity: 80%;
    transform: scale(1.15);
}
.floating-button img {
    width: 50%;
}
