.canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
.floating-button {
    border-radius: 5px;
    border: black;
    width: 20%;
    height: 30%;
    padding: 5px;
    border-color: rgb(150, 148, 148);
    transition: transform .2s;
}
.floating-button:hover {
    opacity: 80%;
    transform: scale(1.15);
}
.floating-button img {
    width: 50%;
}
