{% extends 'student/studentbase.html' %}
{% load static %}

{% block content-body %}
<text><b>Course ID:</b> {{info.CourseId}}</text>
<hr class="mt-2 mb-3"/>
<text><b>Class ID:</b> {{info.ClassId}}</text>
<hr class="mt-2 mb-3"/>
<text><b>
    Lecturer(s) Name:
    {%with first=True%}
    {%for l in Lecturers%}
        {%if first%}
            {{l}}
            {%first=False%}
        {%else%}
            , {{l}}
        {%endif%}
    {%endfor%}
</b></text>
<hr class="mt-2 mb-3"/>
<text><b>Textbook Names:</b> 
    {%with first=True%}
    {%for l in Textbooks%}
        {%if first%}
            {{l}}
            {%first=False%}
        {%else%}
            , {{l}}
        {%endif%}
    {%endfor%}
</text>
{% endblock content-body %}