{% extends 'student/studentbase.html' %}
{% load static %}

{% block content-body %}
<div class=" position-absolute h-100 w-100 container" style="margin-top: 50px;">
    <h2>Courses</h2>
    {% if courseList is not None %}
            <text>No course to display.</text>
    {% else %}
    <div class="row position-absolute h-100 w-100 ">
        {% for c in courseList %}
            <div style="transform: none !important;" class="col-4 floating-button justify-content-center align-items-center">
                <a href="{% url student/courses/%}{{c[courseId]}}" class="position-absolute justify-content-center align-items-center" style = "width: 75%; height: 80%; background-color: #f8f9fad5;">
                    <img class="w-100 h-75" src="" alt="random picture" style="object-fit: cover;">
                    <div class="w-100 h-25">
                        <text>{{c[courseName]}}</text>
                        <text>{{c[courseId]}}</text>
                    </div>
                </a>
            </div>
        {% endfor %}
            <!-- <div style="transform: none !important;" class="col-4 floating-button justify-content-center align-items-center">
                <a href="#" class="position-absolute justify-content-center align-items-center" style = "width: 75%; height: 80%; background-color: #f8f9fad5;">
                    <img class="w-100 h-75" src="" alt="random picture" style="object-fit: cover;">
                </a>
            </div> -->
    </div>
    {%endif%}
    <div class="row"><div class="col-md-12" style="height: 5px;"></div>
    <h2>Other Information</h2>
    <div class="row position-absolute h-100 w-100">
       <!--  -->
    </div>
</div>

{% endblock content-body %}