{% extends 'student/studentbase.html' %}
{% load static %}

{% block content-body %}
<div class="h-100 w-100 container" style="margin-top: 50px;">
    <h2>Courses</h2>
    {% if courseList is None %}
            <text>No course to display.</text>
    {% else %}
    <div class="row w-100 d-flex">
        {% for c in courseList %}
            <div class="col-4 justify-content-center align-items-center" style="height: 200px;">
                <a href="{% url 'student:courses'%}/{{c.courseId}}" class="justify-content-center align-items-center" style = "width: 75%; height: 80%; background-color: #97aec5f5;">
                    <div class="w-100" style='height: 70%;top: 0px; background-color: black;'></div>
                    <div class="w-100" style='height: 30%;bottom: 0px; color: rgb(0, 0, 0); opacity: 0.6; padding: 0px 10px;'>
                        <p>{{c.courseName}} <br/> {{c.courseId}}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {%endif%}
    <h2>Other Info</h2>
    <div class="row">
        ...
    </div>
</div>

{% endblock content-body %}