{% extends 'student/studentbase.html' %}
{% load static %}

{%block custom_css%} 
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{%endblock custom_css%}

{% block content-body %}
<h1>New Course</h1>
<form action="" method="POST">
{% csrf_token %}
<div style="overflow-y: scroll;">
<table id="example" class="table table-striped table-bordered" style="width:100%;">
    <thead>
        <th>Course ID</th>
        <th>Course Name</th>
        <th>Credits</th>
        <th>Select</th>
    </thead>
    <tbody>
        {% for c in openCourse %}
        <tr>
            <td>{{c.CourseId}}</td>
            <td>{{c.CourseName}}</td>
            <td>{{c.Credits}}</td>
            <td>
                {% if c.CourseId in submittedCourse%}
                <button type="submit" name="input" value="{{c.CourseId}}">Cancel</button> 
                {% else %}
                <button type="submit" name="input" value="{{c.CourseId}}">Submit</button> 
                {%endif%}
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
</div>
</form>

<h3>Total number of credit(s): {{totalCredit}}</h3>

{% endblock content-body %}