{% extends 'content-base.html' %}
{% load static %}
{% block content-body %}

<form action="" method="POST">
    {% csrf_token %}
<table class="table table-striped table-bordered" style="width:100%;">
    <thead>
        <th>Class Id</th>
        <th>Close</th>
        <th>Visit</th>
    </thead>
    <tbody>
        {% for c in classes %}
        <tr>
            <td>{{c}}</td>
            <td>
                <button type="submit" value="remove {{c}}" name="value" class="btn btn-primary">Remove</button>
            </td>
            <td>
                <a href="{% url 'department:manageclass' courseId=courseId classId=c %}">Visit</a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
<div>
        <button type="submit" value="add" name="value" class="btn btn-primary">Add</button>
</div>
</form>
{% endblock content-body %}