{% extends 'department/departmentbase.html' %}
{% load static %}
{% block content-body %}
<div style="margin-top: 50px;">
    <div><h1>All Class(es)</h1></div>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
        <table class="table table-striped table-bordered" style="width:80%; margin-left: 10%; margin-top: 50px;">
            <thead>
                <th class="text-center">Class Id</th>
                <th class="text-center">Link</th>
                
                
            </thead>
            <tbody>
                {% for c in classes %}
                <tr>
                    <td class="text-center">{{c}}</td>
                    <td class="text-center" >
                        <a  href="{% url 'department:manageclass' courseId=courseId classId=c %}">Visit</i></a>
                    </td>
                    <td class="text-center">
                        <button type="submit" value="remove {{c}}" name="value"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <div>
                <button type="submit" value="add" name="value" class="btn btn-primary">Add new class</button>
        </div>
        </form>
    </div>
</div>
{% endblock content-body %}
