{% extends 'lecturer/lecturerbase.html' %}
{% load static %}

{% block content-body %}
<div class="h-100 w-100 container" style="margin-top: 50px;">
    <div style="margin-bottom: 50px;"><h2>Class</h2></div>
    {% if classList is None %}
            <text>No course to display.</text>
    {% else %}
        <table class="table table-striped table-bordered" style="width:80%; margin-left: 10%;">
            <thead class="thead-dark">
                <th class="text-center">Week</th>
                <th class="text-center">class ID</th>
                <th class="text-center">Details</th>
            </thead>
            <tbody>
                {% for c in classList %}
                    <tr>
                        <td class="text-center">{{c.Week}}</td>
                        <td class="text-center"> {{c.ClassId}} </td>
                        <td class="text-center"> <a href="{% url 'lecturer:class'%}/{{c}}">Details</a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {%endif%}
    <!-- <h2>Other Info</h2>
    <div class="row">
        ...
    </div> -->
</div>

{% endblock content-body %}

{% block right-body %}
<div style="margin-top: 50px;">
    <div><text><b>Semester:</b> {{semester}}</text></div>
    <text><b>Choose Semester:</b></text>
    <form action="" method="POST">
        {% csrf_token %}
        <select name="myselect" id="myselect" onChange="form.submit();">
            <option disabled selected></option>
            <option value="201">201</option>
            <option value="192">192</option>
            <option value="191">191</option>
            <option value="182">182</option>
        </select>
    </form>
</div>
{% endblock right-body %}