{% extends 'contentbase.html' %}
{% load static %}

{%block custom_css%}
<link rel="stylesheet" type="text/css" href="{% static 'student/styles.css' %}">
{%block lecturer_css%} {%endblock lecturer_css%}
{%endblock custom_css%}
{% block left-body %}
<div class="sidenav" style="margin-top: 60px;">
    <a href="{%url 'lecturer:home'%}">Home</a>
    <a href="{%url 'lecturer:courses'%}">Course</a>
    <a href="{%url 'lecturer:class'%}">Class</a>
    <a href="{%url 'lecturer:about'%}">About</a>
</div>
{% endblock left-body %}
{% block content-body %}
&nbsp;
{% endblock content-body %}