{% extends 'base.html' %}
{% load static %}

{%block custom_css%} 
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{%endblock custom_css%}
{% block body %}
        <!-- Prop to student or teacher-->
        <div class='d-flex justify-content-center align-items-center p-2 canvas' style="background-color: #ccdae2;">

            <div class="floating-button" style="margin-right: 20px; background-color: white;">
                <a class='d-flex justify-content-center align-items-center flex-column' href="{% url 'student:home' %}" style="color: black; width:100%; height: 100%; position: relative;">
                    <img src="{% static 'images/student.jpeg' %}" alt="Avatar">
                    <b>STUDENT</b>
                </a>
            </div>
            <div class="floating-button" style="margin-left: 20px; background-color: white;">
                <a class='d-flex justify-content-center align-items-center flex-column'  href="#" style="color: black; width:100%; height: 100%; position: relative;">
                    <img src="{% static 'images/teachers.png' %}" alt="Avatar">
                    <b>TEACHER</b>
                </a>
            </div>

        </div>
{% endblock body %}